@import compass
@import compass/reset

$default-font: Arial, Helvetica, sans-serif
$grey: #999
$highlight: #4cb6e7

#header-wrap
  background-color: $highlight
  height: 45px

#header
  +clearfix
  width: 1040px
  padding: 3px
  margin: 0 auto
  position: relative

#nav
  +clearfix
  +float-left

.nav-item
  +float-left
  +clearfix
  width: 75px
  height: 20px
  padding: 10px

.link-nav
  font-family: $default-font
  font-size: 18px
  color: #fff
  text-decoration: none
  &:hover, &:active
    border-bottom: 2px solid #fff

#home
  width: 130px

#nav-home
  +hide-text
  background: image-url( "sprite/sublogo.png" ) no-repeat
  display: block
  width: 111px
  height: 17px
  padding: 0 0 2px

#link-facebook-login
  +hide-text
  background: image-url( "sprite/fb.png" ) no-repeat
  background-position: -1px -1px
  display: block
  width: 56px
  height: 20px
  position: absolute
  top: 8px
  right: 0
  &:hover, &:active
    background-position: 0 0
    width: 58px
    height: 22px

#search-panel
  +clearfix
  background: image-url( "header-bg.png" ) no-repeat
  background-position: 50% 100%
  width: 1060px
  padding: 50px 0 50px 140px
  margin: 0 auto

#search-panel-logo
  +clearfix
  +float-left
  padding: 0 20px 0 160px

#search-panel-logo-link
  +hide-text
  +float-left
  +clearfix
  background: image-url( "sprite/logo.png" ) no-repeat
  display: block
  width: 167px
  height: 114px

#search-prompt
  font-family: $default-font
  font-size: 18px
  font-weight: bold
  padding: 0 0 5px

#search-form
  +clearfix

#search-box
  +float-left
  +clearfix
  font-size: 20px
  display: block
  width: 350px
  height: 31px
  padding-top: 0px
  padding-left: 5px
  border: 1px solid $grey
  border-radius: 5px

#search-btn
  +hide-text
  +float-left
  +clearfix
  background: image-url( "sprite/search.png" ) no-repeat
  background-position: 5px 0
  display: block
  width: 85px
  height: 33px
  padding: 0 0 0 5px
  border: 0

#search-panel-form
  +clearfix

#hot-title
  +float-left
  +clearfix
  font-family: $default-font
  font-size: 15px
  line-height: 22px
  clear: both
  padding: 10px 0 0

#hot-keywords
  +float-left
  +clearfix
  font-family: $default-font
  font-size: 15px
  line-height: 22px
  width: 280px
  padding: 10px 0 0

.keyword
  color: #a6aaae
  text-decoration: none
  &:hover, &:active
    color: #000

#new-request-form
  color: #4cb6e7
  text-decoration: none

#main
  +clearfix
  width: 1060px
  padding: 30px 0 0
  margin: 0 auto

#left-column
  +float-left
  +clearfix
  width: 120px
  padding: 15px 30px

#suggestion
  font-family: $default-font
  font-size: 14px
  padding: 0 0 20px

#suggestion-title
  font-weight: bold
  padding: 10px 0 15px

#suggestion-user
  padding: 10px 0

#suggestion-user-link
  color: #4c88e7
  text-decoration: none
  &:hover, &:active
    text-decoration: underline

.more-link
  font-family: $default-font
  font-size: 12px
  color: $grey
  text-decoration: none
  &:hover, &:active
    border-bottom: 1px solid $grey

#partner-img
  +hide-text
  background: image-url( "sidebar-photo.png" ) no-repeat
  display: block
  width: 77px
  height: 101px

#partner-link
  font-family: $default-font
  font-size: 13px
  line-height: 16px
  text-decoration: none
  &:hover, &:active
    text-decoration: underline

#partner-source-link
  font-family: $default-font
  font-size: 13px
  line-height: 16px
  text-decoration: none
  &:hover, &:active
    text-decoration: underline

#master
  +float-left
  +clearfix
  width: 660px
  padding: 0 0 30px 30px
  border-left: 1px solid #c0c0c0
  border-right: 1px solid #c0c0c0

#master-title
  font-size: 15px
  font-weight: bold
  padding: 23px 0 15px

.master-item
  +float-left
  +clearfix
  width: 186px
  height: 190px
  padding: 0 32px 0 0

.master-clip-link
  display: block

.master-clip
  display: block

.master-link
  font-family: $default-font
  font-size: 13px
  color: #000
  text-decoration: none
  &:hover, &:active
    text-decoration: underline

#master-footer
  clear: both

#master-1
  background: image-url( "gallery-1.png" ) no-repeat

#master-2
  background: image-url( "gallery-2.png" ) no-repeat

#master-3
  background: image-url( "gallery-3.png" ) no-repeat

#master-4
  background: image-url( "gallery-4.png" ) no-repeat

#master-5
  background: image-url( "gallery-5.png" ) no-repeat

#master-6
  background: image-url( "gallery-6.png" ) no-repeat

#master-7
  background: image-url( "gallery-7.png" ) no-repeat

#master-8
  background: image-url( "gallery-8.png" ) no-repeat

#master-9
  background: image-url( "gallery-9.png" ) no-repeat

#right-column
  +float-left
  +clearfix
  width: 180px

#request-form-block
  font-family: $default-font
  font-size: 13px
  padding: 13px 15px 15px 20px

#request-form-block-title
  font-size: 15px
  font-weight: bold
  padding: 15px

#request-form-block-new
  +clearfix
  +hide-text
  background: image-url( "sprite/need.png" ) no-repeat
  background-position: top 10px center
  display: block
  width: 68px
  height: 30px
  padding: 10px 0 0

#reference
  font-family: $default-font
  font-size: 14px
  line-height: 18px
  width: 130px
  padding: 13px 15px 15px 20px

#reference-title
  font-size: 15px
  font-weight: bold
  padding: 15px

#link-yahoo-house
  +hide-text
  background: image-url( "sprite/yahoo.png" ) no-repeat
  background-position: top 10px center
  display: block
  width: 97px
  height: 30px
  padding: 10px 0

#reference-list
  padding: 10px 0

.reference-link
  font-family: $default-font
  font-size: 12px
  color: $grey
  line-height: 20px
  text-decoration: none
  &:hover, &:active
    text-decoration: underline

#footer
  +clearfix
  background: image-url( "footer-bg.png" ) no-repeat
  background-position: top 10px center
  padding: 30px 0

#related-links
  +clearfix
  width: 510px
  margin: 0 auto

.link-related
  font-family: $default-font
  font-size: 13px
  font-weight: bold
  color: $grey
  text-decoration: none
  padding: 0 2px
  &:hover, &:active
    color: #000

#site-map
  +float-left
  +clearfix
  padding: 3px 0 0

#social-networks
  +float-left
  +clearfix
  width: 85px
  padding: 0 0 0 15px

.social-networks-item
  +float-left
  +clearfix
  padding: 0 2px

.link-social-networks
  +hide-text
  display: block
  width: 17px
  height: 17px

#social-networks-facebook
  background: image-url( "sprite/fb-logo.png" ) no-repeat

#social-networks-twitter
  background: image-url( "sprite/twitter-logo.png" ) no-repeat

#social-networks-youtube
  background: image-url( "sprite/youtube-logo.png" ) no-repeat

#social-networks-plurk
  background: image-url( "sprite/plurk-logo.png" ) no-repeat
  width: 18px

#copyright
  +clearfix
  font-family: $default-font
  font-size: 12px
  text-align: center
  clear: both
  padding: 20px 0

#supporter
  +clearfix
  width: 910px
  padding: 0 0 30px
  margin: 0 auto

#media-reports
  +float-left
  +clearfix
  width: 550px

#media-report-title
  +float-left
  +clearfix
  font-family: $default-font
  font-size: 13px
  font-weight: bold
  padding: 5px 10px 0 0

#partnership
  +float-left
  +clearfix
  width: 350px

#partnership-title
  +float-left
  +clearfix
  font-family: $default-font
  font-size: 13px
  font-weight: bold
  padding: 5px 10px 0 0

.link-media
  +hide-text
  +float-left
  +clearfix
  display: block

.link-partnership
  +hide-text
  +float-left
  +clearfix
  display: block

#m-nextmedia
  background: image-url( "sprite/media-1.png" ) no-repeat
  width: 59px
  height: 22px

#m-fm975
  background: image-url( "sprite/media-2.png" ) no-repeat
  width: 109px
  height 22px

#m-tech-orange
  background: image-url( "sprite/media-3.png" ) no-repeat
  width: 100px
  height: 22px

#m-tech-note
  background: image-url( "sprite/media-4.png" ) no-repeat
  width: 111px
  height: 22px

#m-cti-tv
  background: image-url( "sprite/media-5.png" ) no-repeat
  width: 73px
  height: 22px

#ps-yahoo
  background: image-url( "sprite/media-6.png" ) no-repeat
  width: 93px
  height: 22px

#ps-rakura
  background: image-url( "sprite/media-7.png" ) no-repeat
  width: 126px
  height: 22px

#ps-bid
  background: image-url( "sprite/media-8.png" ) no-repeat
  width: 56px
  height: 22px

.normal-link
  &:hover, &:active
    text-decoration: none